div#organigrama {
  background: url(/image/background/back_organigrama-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.divisions {
  padding-top: 70px;
}

.container-division {
  min-height: 420px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 50px;
}

.container-division .title {
  margin: 0 auto;
  display: table;
  background: #3f5465;
  text-align: center;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: -27px;
  position: relative;
  font-family: "Gotham-Bold";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 19px;
}

/* ************************ */
.organigrama * {
  margin: 0px;
  padding: 0px;
}
.organigrama ul {
  padding-top: 20px;
  position: relative;
}
.organigrama li {
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 20px 5px 0px 5px;
  position: relative;
}

.organigrama li::before,
.organigrama li::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 50%;
  border-top: 1px solid #27629b;
  width: 50%;
  height: 20px;
}
.organigrama li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #27629b;
}
.organigrama li:only-child::before,
.organigrama li:only-child::after {
  display: none;
}
.organigrama li:only-child {
  padding-top: 0;
}


.organigrama li:first-child::before,
.organigrama li:last-child::after {
  border: 0 none;
}
.organigrama li:last-child::before {
  border-right: 1px solid #27629b;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.organigrama li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.organigrama ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #27629b;
  width: 0;
  height: 20px;
}


.organigrama li a {
  border: 1px solid #27629b;
  padding: 0.75em 0.55em;
  text-decoration: none;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: arial, verdana, tahoma;
  font-size: 0.85em;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}
.organigrama li a:hover {
  border: 1px solid #fff;
  color: #ddd;
  background-color: rgb(36 92 147);
  display: inline-block;
}

.organigrama>ul>li>a {
  font-size: 1em;
  font-weight: bold;
}
/* .organigrama>ul>li>ul>li>a {
  width: 15%;
} */
.organigrama li {
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 20px 5px 0px 5px;
  position: relative;
}
.organigrama-content{
  width: max-content;
  zoom:0.85;
}

.org-chart-content{
  overflow-x: scroll;
}
.org-chart-content::-webkit-scrollbar {
  width: 12px;
}
.org-chart-content::-webkit-scrollbar-track {
  
  background: white;
  border: 1px solid #3f5465;
  border-radius: 15px;
}
.org-chart-content::-webkit-scrollbar-thumb {
  background-color: #3f5465;
  border-radius: 20px;
  border: 3px solid white;
}

.org-chart-title{
  font-size: 22px!important;
  background: #00aeef!important;
  color: white!important;
}
.org-chart-title-owner{
  font-size: 15px!important;
  background: var(--color-dmi)!important;
  color: white!important;
  font-weight: unset!important;
}
.org-chart-name-owner{
  font-size: 16px;
  font-weight: 700;
  background: #FFF;
  color: var(--color-dmi);
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 5px!important;
  display: inline-flex;
}
.org-chart-name{
  font-size: 15px;
  font-weight: 700;
  background: var(--color-dmi);
  color: white;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 5px!important;
  display: inline-flex;
}
.tel-extension{
  background: #00aeef;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

.org-chart-circle{
  background: #00aeef;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 3px solid #5c5c5c;
  /* position: absolute; */
  /* z-index: 1; */
}

.org-chart-director{
  background: #fff;
  width:auto;
  
  border-radius: 15px;
  border: 1px solid #5c5c5c;
  /* position: absolute; */
  /* z-index: 1; */
}

.org-chart-center{
  justify-content: center;
  display: flex;
}
.org-chart-label{
  background: white;
  display: none!important;
  z-index: 2;
}

.org-chart-circle:hover{
  box-shadow: 0 0px 4px 2px #3f5465;
}


.org-chart-circle .org-chart-tooltiptext {
  visibility: hidden;
  width:max-content;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 10px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 7px;
  border: 1px solid #3f5465;
}

.org-chart-circle:hover .org-chart-tooltiptext {
  visibility: visible;
}

.branch-center{
  justify-content: center;
  display: flex;
}

.label-director{
  padding: 7px;
}

.icon-sitemap{
  font-size: 35px;
  color: var(--color-blue-dmi);
}